.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}

body {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .form-container {
    display: block;
    max-width: 300px;
    margin: auto;
  
    background: #eceff1;
    padding: 40px;
    border-radius: 16px;
  
    
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .margin-top {
    margin-top: 10px !important;
  }
  
  .text-center {
    text-align: center;
  }
 